<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.AccountMapper">
  <cache />
  
  <insert id="insertAccount" parameterType="Account">
    INSERT INTO MEMBER
      (USER_ID, PASSWORD, USER_NAME, EMAIL, PHONE, ZIP, ADDRESS1, ADDRESS2, GENDER, BIRTH)
    VALUES
      (#{user_id}, #{password}, #{user_name}, #{email}, #{phone}, #{zip}, #{address1}, #{address2}, #{gender}, #{birth})
  </insert>
</mapper>